[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=GTK Wave Cleaner
Comment=Remove clicks and noise from vinyl records
Keywords=audio;sound;noise;filter;
TryExec=gwc
Exec=gwc %f
Icon=gtk-wave-cleaner
Categories=Application;AudioVideo;Audio;AudioVideoEditing;
